body {
  background: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  top: 40%;
}

.sticker {
  text-align: right;
}